
.idea/BT-wordlist.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
criaçao/gerador/__pycache__/gerador.cpython-39.pyc
criaçao/BD/__pycache__/teste_arquivo.cpython-39.pyc
.idea/vcs.xml
criaçao/interface/__pycache__/menu.cpython-39.pyc
criaçao/interface/__pycache__/form_texto.cpython-39.pyc
