
.idea/
.idea/BT-wordlist.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
creation/gerador/__pycache__/gerador.cpython-39.pyc
creation/BD/__pycache__/teste_arquivo.cpython-39.pyc
.idea/vcs.xml
creation/interface/__pycache__/menu.cpython-39.pyc
creation/interface/__pycache__/form_texto.cpython-39.pyc
.idea/workspace.xml
*.pyc


